body{
	background-color: #31797a;
}
header{
	text-align: right;
	display: flex;
}
.navlink{
	padding: 15px;
	border-color: #4fcfd1;
	border-style: solid;
	border-radius: 35px;
	font-size: 35px;
	background-color: #4fcfd1;
}
nav{
	text-align: right;
	display: flex;
}
.spacer{
	padding: 10px;
}
.headtext{
	font-size: 20px;
	text-align: center;
}
h1{
	padding: 15px;
	border-color: #87bd3c;
	border-style: solid;
	border-radius: 50px;
	background-color: #70bd06;
	font-size: 50px;
}
h3{
	padding: 15px;
	border-color: #478fbf;
	border-style: solid;
	border-radius: 50px;
	background-color: #0673bd;
	font-size: 30px;
}
marquee{
	padding: 15px;
	border-color: #7e53c2;
	border-style: solid;
	border-radius: 50px;
	background-color: #4c06bd;
	font-size: 30px
}
a{
	color: #000000;
	text-decoration: none;
}
.a{
	text-align: right;
	display: flex;
	background-color: #ffffff;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 10px;
}
.a img{
	width: 25px;
	height: 25px;
}
